._front-page-container {
  flex: 1 1px;
  overflow-y: auto;
  max-height: 100%;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);

}

._no-stories-found-container {
  text-align: center;

  .no-stories-found-icon {
    display: inline;
    margin-top: 20px;
    margin-right: 10px;
  }

  .no-stories-found {
    display: inline;
  }
}

._front-page-data-type-selection {
  align-items: center;
  justify-content: center;
  margin: 25px;
  width: 90%;
  text-align: center;
  border-top: 1px solid rgba(0, 0, 0, 0.2);

  > div {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    display: inline-block;
  }
}

._card-spacing {
  margin: 25px;
  width: 90%;
}

._pagination-spacing {
  margin-top: 20px;
  margin-bottom: 20px
}
